
/* --------------------------------------------- ALL --------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #ea6f5a;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
    height: 100%;
    overflow: hidden;
}

/* --------------------------------------------- MAIN --------------------------------------------- */

main {
    width: 50%;
    height: 70vh;
    margin: 10px auto;
    padding: 12px;
}

/* --------------------------------------------- ROW --------------------------------------------- */

.row {
    width: 100%;
    height: 20vh;
    margin: 12px auto;
    display: inline-flex;
    justify-content: space-evenly;
}

/* --------------------------------------------- COL --------------------------------------------- */

.col {
    width: 30%;
    height: 20vh;
    margin: 12px auto;
    background-color: #6F1E51;
    border: 5px solid #000000;
    border-radius: 10px; 
    box-shadow: 1px 1px 3px 2px #000000;   
}

.col:hover {
    transition: all;
    transition-delay: 200ms;
    transition-duration: 980ms;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

button {
    width: 30%;
    height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #6F1E51;
    border-radius: 5px;
    text-transform: uppercase;
}

button:hover {
    transition: all;
    transition-delay: 200ms;
    transition-duration: 980ms;
    transform: scale(1.1, 1.1);
    cursor: pointer;
    background-color:rgba(111, 30, 81, 0.85);
    border: 1px solid #000000;
    font-weight: bold;
    box-shadow: 1px 1px 3px 2px #000000; 
}