<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Jogo da velha</title>

        <link rel="stylesheet" href="../public/css/css.css">
    </head>
    <body>
        <main>
            <!--linha 1-->
            <section class="row">
                <div id="0#0" class="col"></div>
                <div id="0#1" class="col"></div>
                <div id="0#2" class="col"></div>
            </section>
            
            <!--linha 2-->
            <section class="row">
                <div id="1#0" class="col"></div>
                <div id="1#1" class="col"></div>
                <div id="1#2" class="col"></div>
            </section>

            <!--linha 3-->
            <section class="row">
                <div id="2#0" class="col"></div>
                <div id="2#1" class="col"></div>
                <div id="2#2" class="col"></div>
            </section>
            <p><button onclick="limpaTela()">Reset</button></p>
        </main>
    </body>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
            crossorigin="anonymous">
        </script>
        <script src="../public/js/jogo.js"></script>
</html>